@charset "ISO-8859-1";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 25px;
}
.maindiv{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: none;
}
#bgimg{
    background-image: url('https://t3.ftcdn.net/jpg/03/55/68/64/360_F_355686486_HMy39AnYlmiibpdZPIMy9QNnhIXZqOUx.jpg');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 50% 98%;
}
.applogo{
    display: flex;
    justify-content: center;
}
.logoimg{
    height: 150px;
}
.mart{
    font-size: 40px;
    font-family: Arial Black;
    color: green;
    margin-top: -90px;
    margin-left: 150px;
}
.cards{
    height: 300px;
    width: 60%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 25%;
    left:20%;
}
.cardreg{
    height: 250px;
    width:300px;
    display: grid;
    margin-right: 30px;
    border-radius: 30px;
    transition-duration: 1s;
    box-shadow: 0 0 2px grey;

}
.cardreg:hover{
    box-shadow: 0 0 10px grey;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

.common-card div img{
    margin: 20px;
  }
  .heading{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    color: royalblue;
    margin-top: 10px;
  }
  .signup{
    height: 40px;
    width: 150px;
    background-color: limegreen;
    margin-bottom: 5px;
    line-height: 40px;
    border-radius: 20px;
    transition-duration: 1s;
  }
  .signup:hover{
    transform: scale(0.9);
  }
  a{
    text-decoration: none;
    color:white;
    font-family: Arial Black;
    font-size: 20px;
  }